@import 'variables';
@import 'fonts';
@import 'bootstrap';

body {
	color: #fff;
	// background-color: #000;
	background-color: red;
}

section {
	height: 100vh;
	width: 100vw;
  // overflow: hidden;

  .container {

  	h1 {
  		position: absolute;
  		z-index: 99999;
			color: #666;
			font-size: 20px;
			text-align: center;
			margin: 20px
		}

		ul {
			display: flex;
			li {
				overflow: hidden;
				margin: 0 20px;
			}
		}

		.map { 
			height: 120vh;
			width: 120vw;
			position: relative;
			left: -20vw;
		}

		#face {
			position: absolute;
	    bottom: 20px;
	    z-index: 99999;
	    width: 25%;
	    left: 50%;
	    transform: translateX(-50%);
	    img {
	    	display: block;
	    	position: relative;
	    	width: 100%;
	    }
		}
	}

	#place {
		position: absolute;
		z-index: 99999;
		width: 100vw;
		height: 100vh;
		background-color: rgba(250, 0, 0, 1);
		top: 0;
		left: 0;

		
	}

	#intro {
		position: absolute;
		z-index: 99999;
		background-color: rgba(250, 0, 250, 1);
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		text-align: center;
	}
}

